.track-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.track-index-item:hover {
  cursor: pointer;
}

.player {
  background-color: #888888;
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%
}

#audio-controller {
  position: relative;
  height: 50px;
  width: 300px;
  z-index: 10;
}
